body {
  font-family: "Tahoma", sans-serif;
  margin: 0;
  background: #e8c4c6;
  color: #333;
}


.menu-box {
  text-align: center;
  padding: 64px 16px; 
  background: #f2dfcf;
  color: #885d4e;
}

.menu-box h1 {
  font-size: 48px;
  margin-bottom: 8px;
}

.menu-box p {
  font-size: 19px; 
  opacity: 0.7;
}


.add-to-cart {
  background: #ff8a00;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}


.info-boxes {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 32px auto; 
  flex-wrap: wrap;
  color: #885d4e;
}

.info-card {
  background: #f2dfcf;
  padding: 24px 32px; 
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: center;
  width: 250px;
}

.info-card h3 {
  margin-top: 0;
}


.foodhead {
  display: flex;
  justify-content: center;
  color: #885d4e;
}


.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 32px; 
  padding: 32px; 
  width: 90%;
  margin: auto;
}


.item {
  background: #f2dfcf;
  border-radius: 10px;
  padding-bottom: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: center;
  color: #885d4e;
  position: relative;
  overflow: hidden;
}

.item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.item h4 {
  margin: 8px 0; 
}

.price {
  color: #b5835a;
  font-weight: bold;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease;
}

.item:hover .overlay {
  opacity: 1;
}


.add-to-cart {
  padding: 10px 15px;
  background-color: white;
  color: #333;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.2s;
}

.add-to-cart:hover {
  background-color: #f1e8da;
}


.cart-button {
  text-align: center;
  margin: 48px 0; 
  position: fixed;
  z-index: 999;
  justify-content: center;
  bottom: 20px; 
  left: 0;
  right: 0;
  display: flex; 
}

.cart-button button {
  padding: 16px 32px; 
  border: none;
  background: #b5835a;
  color: white;
  font-size: 18px; 
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.cart-button button:hover {
  background: pink;
}
